<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de Clientes</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.mask.min.js"></script>
    <script src="/javascripts/validadorCPF.js"></script>

    <script>

      $(document).ready(function(){

        $('#inputCpf').mask('000.000.000-00');

        $('#formCadastroCliente').submit(function(){

          var nome = $('#inputNome').val();
          var email = $('#inputEmail').val();
          var cpf = $('#inputCpf').val();

          if(nome == '' || email == '' || cpf == ''){
            alert("Preencha todos os campos!");
            return false;
          }else{
            if(!ValidarCPF(cpf)){
              alert("CPF inválido!");
              return false;
            }
          }

        });

      });
    </script>

  </head>
  <body>
    <div class="container-fluid">

      <div class="row" >
        <div class="col-md-3">

          <h2>Formulário de Cadastro</h2><br/>
          <form id="formCadastroCliente" action="/cadastroclientes/add" method="post">

            <input type="hidden" id="inputId" name="_id" value="<%=cliente._id%>">

            <div class="form-group">
              <label for="inputNome">Nome</label>
              <input type="text" class="form-control" id="inputNome" placeholder="Informe seu nome" name="nome" value="<%=cliente.nome%>">
            </div>

            <div class="form-group">
              <label for="InputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Informe seu email" value="<%=cliente.email%>" name="email">
              <small id="emailHelp" class="form-text text-muted">* Seu email não será compartilhado com ninguém.</small>
            </div>

            <div class="form-group">
              <label for="inputCpf">CPF</label>
              <input type="text" class="form-control" id="inputCpf" placeholder="Preencha seu CPF" name="cpf" value="<%=cliente.cpf%>">
            </div>

            <button id="btnSalvar" type="submit" class="btn btn-outline-primary">Salvar</button>

          </form>

          <br/>

        </div>

        <div class="col-lg-9">

          <h2>Clientes Cadastrados</h2><br/>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CPF</th>
                <th scope="col">Ações</th>
              </tr>

            </thead>

            <tbody>

              <% for(var i=0; i < clientes.length; i++) { %>
              <tr>
                <td><%= clientes[i].nome %></td>
                <td><%= clientes[i].email %></td>
                <td><%= clientes[i].cpf %></td>
                <td>
                    <div class="btn-group mr-2" role="group">
                      <a class="btn btn-danger" href="/cadastroclientes/remove/<%=clientes[i]._id%>">Excluir</a>
                      <a class="btn btn-secondary" href="/cadastroclientes/alterar/<%=clientes[i]._id%>">Alterar</a>
                    </div>
                </td>
              </tr>
              <% } %>

            </tbody>

          </table>

        </div>

      </div>

    </div>
  </body>
</html>
